<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>RecoSystem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <br>
    <h1>RecoSystem</h1>
    <p>Welcome!! Enter a landing page url:</p>

    <form action="/extract_data" method="post">
        <input type="text" name="url">
        <br>
        <input type="submit" value="Extract Data" name="btn1" id="greet">



            {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
            {% endfor %}
            <br>
            {% for link in output %}
                <img src="{{link}}" alt="Recommended photo">
                <br><a href ="{{link}}" style="font-size:20px">image link</a>
                <br>
            {% endfor %}


    </form>

</body>

</html>