<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>OptimusQ</title>


        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">

        <link href="../static/css/bootstrap.min.css" rel="stylesheet">

        <link href="../static/css/bootstrap-icons.css" rel="stylesheet">

        <link href="../static/css/magnific-popup.css" rel="stylesheet">

        <link href="../static/css/tooplate-tween-agency.css" rel="stylesheet">

<!--

Tooplate 2128 Tween Agency

https://www.tooplate.com/view/2128-Tween-Agency

-->

    </head>

    <body>
        <script>

            function setElements(isLoggedIn){
                if(isLoggedIn){
                    document.getElementById('logout').style.display = 'block';
                } else {
                    document.getElementById('logout').style.display = 'none';
                }
            }

            function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
              console.log('statusChangeCallback');
              console.log(response);                   // The current login status of the person.
              if (response.status === 'connected') {   // Logged into your webpage and Facebook.
                setElements(true);
                const access_token = FB.getAuthResponse()['accessToken'];
                } else {                                 // Not logged into your webpage or we are unable to tell.
                    setElements(false);
                    // document.getElementById('status').innerHTML = 'Please log ' +
                    //   'into this webpage.';
                    window.location.href = "/fb";

                }
            }
          
          
            function checkLoginState() {               // Called when a person is finished with the Login Button.
              FB.getLoginStatus(function(response) {   // See the onlogin handler
                statusChangeCallback(response);
              });
            }
          
          
            window.fbAsyncInit = function() {
              FB.init({
                appId      : '331878552252931',
                cookie     : true,                     // Enable cookies to allow the server to access the session.
                xfbml      : true,                     // Parse social plugins on this webpage.
                version    : 'v13.0'           // Use this Graph API version for this call.
              });
          
          
              FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
                statusChangeCallback(response);        // Returns the login status.
              });
            };
          
            function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
              console.log('Welcome!  Fetching your information.... ');
              FB.api('/me', function(response) {
                console.log('Successful login for: ' + response.name);
              });
            }

        function logout(){
            FB.logout(function(response){
            setElements(false);
            window.location.reload();
            });
        }
          
          
    </script>

<div id="status">
</div>

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>


 <nav class="navbar fixed-top navbar-expand-lg">
            <div class="container">

                <a href="\" class="navbar-brand">
                  OptimusQ

                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5">
                        <li class="nav-item">
                            <a class="nav-link" href="\">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="\extract_kw">Extract KW</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="\fb">FB Service</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#section_4">Our Work</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#section_5">Pricing</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#section_6">Contact</a>
                        </li>


                    </ul>
                        <a id="logout" href="#" onclick="logout()">FB Logout</a>

                </div>
            </div>
        </nav>





        <main>

            <section class="hero d-flex justify-content-center align-items-center" id="section_1">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12">
                            <div class="heroText">
                                <h2 class="text-white mb-lg-5 mb-4">Logged into Facebook Service</h2>

                                </a>
                            </div>
                        </div>

                    </div>
                                                <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-intro-tab" data-bs-toggle="tab" data-bs-target="#nav-intro" type="button" role="tab" aria-controls="nav-intro" aria-selected="true">Ad Accounts</button>
                                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Campaigns</button>
                                    <button class="nav-link" id="nav-faq-tab" data-bs-toggle="tab" data-bs-target="#nav-faq" type="button" role="tab" aria-controls="nav-faq" aria-selected="false">Ad Sets</button>
                                    <button class="nav-link" id="nav-faq-tab" data-bs-toggle="tab" data-bs-target="#nav-faq" type="button" role="tab" aria-controls="nav-faq" aria-selected="false">Ad Creatives</button>
                                    <button class="nav-link" id="nav-faq-tab" data-bs-toggle="tab" data-bs-target="#nav-faq" type="button" role="tab" aria-controls="nav-faq" aria-selected="false">Ads</button>


                                </div>
                            </nav>
                </div>

                <div class="overlay"></div>

            </section>

                        <b>Ad Accounts:</b><br>
                        {% for link in output["ad_accounts"] %}
                        id: {{ link }}
                        <br>
                        {% endfor %}
        <br><br>
                        <b>Campaigns:</b><br>
                        {% for link in output["campaigns"] %}
                        id: {{ link }}
                        <br>
                        {% endfor %}
        <br><br>
                        <b>Ad Sets:</b><br>
                        {% for link in output["ad_sets"] %}
                        id: {{ link }}
                        <br>
                        {% endfor %}
        <br><br>
                        <b>Ads:</b><br>
                        {% for link in output["ads"] %}
                        id: {{ link }}
                        <br>
                        {% endfor %}


            <section class="section-padding" id="section_6">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-md-10 col-12 mx-auto">
                            <h2 class="mb-4 text-center">Facebook Module</h2>


                        </div>

                    </div>
                </div>
            </section>

        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-5 col-12 me-auto mb-4">
                        <h5 class="text-white mb-3">Newsletter</h5>

                        <form class="custom-form subscribe-form mt-4" role="form">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-7">
                                    <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Your email address" required="">
                                </div>

                                <div class="col-lg-4 col-md-4 col-5">
                                    <button type="submit" class="form-control" id="subscribe">Subscribe</button>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div class="col-lg-2 col-12 mx-auto my-lg-0 my-4">
                        <h5 class="text-white mb-3">Services</h5>

                        <ul class="footer-menu">
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Digital Marketing</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Creative Ideas</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Branding</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Video Contents</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-12">
                        <h5 class="text-white mb-3">Say Hi</h5>

                        <p class="text-white mb-1">Sunderland SR6 0JL, United Kingdom</p>

                        <p><a href="mailto:email@company.com" class="footer-link">email@company.com</a><p>
                    </div>

                    <div class="site-footer-bottom mt-5">
                        <div class="row pt-4">
                            <div class="col-lg-6 col-12">
                                <p class="copyright-text tooplate-link">Copyright © 2022 Tween Agency Co., Ltd.
                                <br>Design: <a rel="nofollow" href="https://www.tooplate.com/" target="_blank">Tooplate</a></p>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="fb_ui_template/2128_tween_agency/js/jquery.min.js"></script>
        <script src="fb_ui_template/2128_tween_agency/js/popper.js"></script>
        <script src="../fb_ui_template/2128_tween_agency/js/bootstrap.min.js"></script>
        <script src="../fb_ui_template/2128_tween_agency/js/jquery.backstretch.min.js"></script>
        <script src="fb_ui_template/2128_tween_agency/js/jquery.magnific-popup.min.js"></script>
        <script src="fb_ui_template/2128_tween_agency/js/magnific-popup-options.js"></script>
        <script src="fb_ui_template/2128_tween_agency/js/click-scroll.js"></script>
        <script src="fb_ui_template/2128_tween_agency/js/custom.js"></script>
    </body>
</html>
